<% include ../partials/header %>
<body>
    <nav style="height: 160px">
        <div class="nav-wrapper light-blue">
            <div class="row">
                <div class="col l12 s12 m12">
                    <a style="cursor: pointer;" onclick="history.back()" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up show-on-medium-and-down"><i class="material-icons large" style="font-size:35px;margin-top: 20px">arrow_back</i></a>
                    <a href="#" class="brand-logo" style="margin-top: 20px;font-size: 150%;font-weight: 400"><%=customer.name%></a>

                    <ul class="right">
                        <li><input type="text" class="input-field" style="margin-top: 18px;border-bottom: 10px;border-bottom-color: black"></li>
                        <li><i class="material-icons white-text" style="font-size: 30px;margin-top: 18px;margin-right: 2%">search</i></li>
                        <li><i class="material-icons white-text" style="margin-top: 18px;font-size: 30px">more_vert</i></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0">
                <div class="col s12 m12 l12" style="margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0">
                    <ul class="tabs light-blue left">
                        <li class="tab col s3"><a href="#health" class="white-text">Health Records</a></li>
                        <li class="tab col s3"><a href="#lifestyle" class="white-text">Lifestyle</a></li>
                        <li class="tab col s3"><a href="#myaddress" class="white-text">My Address</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <section id="health" class="section health">
        <div class="row">
            <div class="col m12 l12 s12 left-align">
                <h1 class="left-align black-text" style="font-size: 350%">Health Details</h1>
            </div>
            <div class="col m12 l12 s12 right-align">

            </div>
        </div>
        <div class="row">
            <div class="col m5 l5 s12">
                <p class="left-align black-text" style="font-size: 20px">This section indicates about the health records of the patient such as the allergies, medications, diseases, injuries, etc.</p>
            </div>
            <div class="col l6 m6 s12 left-align purple-text text-darken-3" style="margin-top: 20px">
                <div class="input-field">
                    <input placeholder="Allergies" id="Allergies" type="text" value="<%=customer.allergies%>" class="validate" readonly>
                    <label for="Allergies">Allergies</label>
                </div>
                <div class="input-field">
                    <input placeholder="Current Medications" id="CurrentMedications" type="text" value="<%=customer.currentMedication%>" class="validate" readonly>
                    <label for="CurrentMedications">Current Medications</label>
                </div>
                <div class="input-field">
                    <input placeholder="Past Medications" id="PastMedications" type="text" value="<%=customer.pastMedication%>" class="validate" readonly>
                    <label for="PastMedications">Past Medications</label>
                </div>
                <div class="input-field">
                    <input placeholder="Chronic Diseases" id="ChronicDiseases" type="text" value="<%=customer.chronicDiseases%>" class="validate" readonly>
                    <label for="ChronicDiseases">Chronic Diseases</label>
                </div>
                <div class="input-field">
                    <input placeholder="Surgeries" id="Surgeries" type="text" value="<%=customer.surgeries%>" class="validate" readonly>
                    <label for="Surgeries">Surgeries</label>
                </div>
                <div class="input-field">
                    <input placeholder="injuries" id="injuries" type="text" value="<%=customer.injuries%>" class="validate" readonly>
                    <label for="injuries">Injuries</label>
                </div>
                <!-- EDIT HEALTH RECORD -->
                <a class="btn-floating btn-large light-blue modal-trigger" style="float: left;" href="#health1">
                    <i class="large material-icons">create</i>
                </a>

            </div>
            <div class="col l1 m1 hide-on-small-and-down"></div>
        </div>
    </section>


    <div class="divider"></div>


    <section id="lifestyle" class="section lifestyle">
        <div class="row">
            <div class="col m12 l12 s12 left-align">
                <h1 class="left-align black-text" style="font-size: 350%">Lifestyle</h1>
            </div>
            <div class="col m12 l12 s12 right-align">

            </div>
        </div>
        <div class="row">
            <div class="col m5 l5 s12">
                <p class="left-align black-text" style="font-size: 20px">This section indicates about the lifestyle records of the patient such as the allergies, medications, diseases, injuries, etc.</p>
            </div>
            <div class="col l6 m6 s12 left-align purple-text text-darken-3" style="margin-top: 20px">
                <div class="input-field">
                    <input placeholder="Smoking Habits" id="SmokingHabits" type="text" class="validate" value="<%=customer.smokingHabit%>" readonly>
                    <label for="SmokingHabits">Smoking Habits</label>
                </div>
                <div class="input-field">
                    <input placeholder="Alchol Consumption" id="AlcholConsumption" type="text" class="validate" value="<%=customer.alcoholConsumption%>" readonly>
                    <label for="AlcholConsumption">Alchol Consumption</label>
                </div>
                <div class="input-field">
                    <input placeholder="Activity Level" id="ActivityLevel" type="text" class="validate" value="<%=customer.activitylevel%>" readonly>
                    <label for="ActivityLevel">Activity Level</label>
                </div>
                <div class="input-field">
                    <input placeholder="Food Preferences" id="FoodPreferences" type="text" class="validate" value="<%=customer.foodPreference%>" readonly>
                    <label for="FoodPreferences">Food Preferences</label>
                </div>
                <div class="input-field">
                    <input placeholder="Occupation" id="Occupation" type="text" class="validate" value="<%=customer.occupation%>" readonly>
                    <label for="Occupation">Occupation</label>
                </div>
                <!-- EDIT lifesty;e -->
                <a class="btn-floating btn-large light-blue modal-trigger" style="float: left;" href="#lifeStyle">
                    <i class="large material-icons">create</i>
                </a>
            </div>
            <div class="col l1 m1 hide-on-small-and-down"></div>
        </div>
    </section>


    <div class="divider"></div>


    <section id="myaddress" class="section myaddress">
        <div class="row">
            <div class="col m12 l12 s12">
                <h1 class="left-align black-text" style="font-size: 350%">My Addresses</h1>
            </div>
            <div class="col m5 l5 s12">
                <p class="left-align black-text" style="font-size: 20px">This section indicates about the saved addresses of the patient or their known persons</p>
            </div>
            <div class="col m7 l7 s12">

            </div>
        </div>
        <div class="row">
            <div class="col l4 m4 s12 left-align purple-text text-darken-3">
                <div class="col l12 s12 m12">
                    <p style="font-size: 20px"><%=customer.addressLine1%> <br><%=customer.addressLine2%> <br><%=customer.landmark%> <br><%=customer.city%> <br><%=customer.state%> <br><%=customer.country%></p>
                </div>
            </div>

            <!-- looping address -->
            <% customer.addresses.reverse().forEach(function(address){ %>
                <div class="col l4 m4 s12 left-align purple-text text-darken-3">
                    <div class="col l12 s12 m12">
                        <p style="font-size: 20px"><%=address.addressLine1%> <br><%=address.addressLine2%> <br><%=address.landmark%> <br><%=address.city%> <br><%=address.state%> <br><%=address.country%></p>
                    </div>
                </div>
            <%})%>
            

            <!-- looping end -->
        </div>
        <!-- EDIT ADDRESS -->
                <a style="text-align: right;" class="btn-floating btn-large light-blue modal-trigger" href="#address1">
                    <i class="large material-icons">create</i>
                </a>
    </section>
    <!-- Sectio: Fixed Acion button !-->

    <!-- health model -->
    <form action="/users/update-health/<%=customer.id%>" method="post">
        <div id="health1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Update health details</h4>
          <div class="card-content">
            <div class="row">
                  <div class="row">
                    <div class="input-field col s6">
                      <input name="allergies" id="allergies" type="text" class="validate" required>
                      <label for="allergies">Allergies</label>
                    </div>
                    <div class="input-field col s6">
                      <input name="currentMedication" id="currentMedication" type="text" class="validate" required>
                      <label for="currentMedication">Current medication</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s6">
                      <input name="pastMedication" id="pastMedication" type="text" class="validate" required>
                      <label for="pastMedication">Past Medication</label>
                    </div>
                    <div class="input-field col s6">
                      <input name="chronicDiseases" id="chronicDiseases" type="text" class="validate" required>
                      <label for="chronicDiseases">Chronic diseases</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s6">
                      <input name="injuries" id="injuries" type="text" class="validate" required>
                      <label for="injuries">Injuries</label>
                    </div>
                    <div class="input-field col s6">
                      <input name="surgeries" id="surgeries" type="text" class="validate" required>
                      <label for="surgeries">Surgeries</label>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>

    <!-- lifestyle -->
    <form action="/users/update-life-style/<%=customer.id%>" method="post">
      <div id="lifeStyle" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Update health details</h4>
          <div class="card-content">
            <div class="row">
                <div class="row">
                <div class="input-field col s6">

                    <select name="smokingHabit" class="browser-default">
                      <option value="" disabled selected>Smoking Habit</option>
                      <option value="smoker">Smoker</option>
                      <option value="want to quit">Want to quit</option>
                      <option value="don't smoke">Don’t smoke</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="alcoholConsumption" class="browser-default">
                      <option value="" disabled selected>Alcohol Consumption</option>
                      <option value="alcoholic">Alcoholic</option>
                      <option value="want to quit">Want to quit</option>
                      <option value="non alcoholic">Non-alcoholic</option>
                    </select>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s4">

                    <select name="activitylevel" class="browser-default">
                      <option value="" disabled selected>Activity level</option>
                      <option value="active">Active</option>
                      <option value="lazy">Lazy</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select name="foodPreference" class="browser-default">
                      <option value="" disabled selected>Food Preference</option>
                      <option value="vegetarian">Vegetarian</option>
                      <option value="non vegetarian">Non vegetarian</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select name="occupation" class="browser-default">
                      <option value="" disabled selected>Occupation</option>
                      <option value="service">Service</option>
                      <option value="business">Business</option>
                      <option value="student">Student</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>

    <!-- add address -->
    <form action="/users/add-address/<%=customer.id%>" method="post">
      <div id="address1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Update health details</h4>
          <div class="card-content">
            <div class="row">
                <div class="input-field col s6">
                  <input name="addressLine1" id="addressLine1" type="text" class="validate" required>
                  <label for="addressLine1">Address Line 1</label>
                </div>
                <div class="input-field col s6">
                  <input name="addressLine2" id="addressLine2" type="text" class="validate" required>
                  <label for="addressLine2">Address Line 2</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input name="landmark" id="landmark" type="text" class="validate" required>
                  <label for="landmark">Landmark</label>
                </div>
                <div class="input-field col s6">
                  <input name="city" id="city" type="text" class="validate" required>
                  <label for="city">City</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">

                    <select name="states" class="browser-default" required>
                      <option value="" disabled selected>States(*Required)</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="country" class="browser-default" required>
                      <option value="" disabled selected>Country(*Required)</option>
                      <option value="India">India</option>
                      <option value="Others">Others</option>
                    </select>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>

<% include ../partials/footer %>
